<div class="container">
  <h3>{{ bienvenida }} </h3>
  <div>
    <div class="form-group">
      <label for="nombre">Usuario</label>
      <input [(ngModel)]= "nombre" type="text" [class]="usuarioClass"  required>
    </div>
    {{usuarioMensaje}}
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]= "password" type="password" [class]="passwordClass" required>
    </div>
    <div>{{passwordMensaje}}</div>
    <button type="submit" (click)="login()" class="btn btn-success" >Entrar</button>
  </div>
</div>  
