<p-growl [(value)]="msgs" [life]="100" [sticky]="true"></p-growl>
<div class="row">
  <div class="col-xs-12">
    <h4 class="col-xs-12"> Añadir clase</h4>
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-2 col-xs-4">
          <label>Personas*</label>
          <input [(ngModel)]="clase.Personas" class="form-control" type="number">
        </div>
        <div class="form-group col-md-4 col-xs-6">
          <label>Nombre identificador</label>
          <input [(ngModel)]="clase.Nombre" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <div class="form-group col-md-3 col-xs-6">
          <label>Fecha*</label>
          <input [(ngModel)]="clase.Fecha" type="date" class="form-control">
        </div>
        <div class="form-group col-md-2 col-xs-3">
          <label>Duración</label>
          <input [(ngModel)]="clase.Duracion" type="text" class="form-control">
        </div>
        <div class="form-group col-md-2 col-xs-3">
          <label>Hora inicio</label>
          <input [(ngModel)]="clase.HoraInicio" type="text" class="form-control">
        </div>
        <div class="form-group col-md-2 col-xs-3">
          <label>Hora fin</label>
          <input [(ngModel)]="clase.HoraFin" type="text" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 form-group">
          <label>Edades</label>
          <br>
          <ss-multiselect-dropdown [options]="confMulti.edades.dataModel" [(ngModel)]="confMulti.edades.selectedModel" [settings]="confMulti.edades.mySettings"
            [texts]="confMulti.edades.myTexts" selectionLimit="1">
          </ss-multiselect-dropdown>
        </div>
        <div class="col-md-3 form-group">
          <label>Nivel</label>
          <br>
          <ss-multiselect-dropdown [options]="confMulti.niveles.dataModel" [(ngModel)]="confMulti.niveles.selectedModel" [settings]="confMulti.niveles.mySettings"
            [texts]="confMulti.niveles.myTexts" selectionLimit="1">
          </ss-multiselect-dropdown>
        </div>
        <div class="col-md-3 form-group">
          <label>Estaciones</label>
          <br>
          <ss-multiselect-dropdown [options]="confMulti.estaciones.dataModel" [(ngModel)]="confMulti.estaciones.selectedModel" [settings]="confMulti.estaciones.mySettings"
            [texts]="confMulti.estaciones.myTexts" selectionLimit="1">
          </ss-multiselect-dropdown>
        </div>
      </div>
      <div style="margin-top:10px"></div>
      <div class="col-xs-12 row">
        <button class="btn btn-success" (click)="crearClase()" type="submit"> Añadir clase</button>
      </div>
    </div>
  </div>
  <div style="margin-top: 2%;"></div>
</div>

