<div class="container-fluid">
  <div class="row">
      <div class="col-lg-3 col-sm-6">
          <div class="card">
              <div class="content">
                  <div class="row">
                      <div class="col-xs-5">
                          <div class="icon-big icon-warning text-center">
                              <i class="ti-server"></i>
                          </div>
                      </div>
                      <div class="col-xs-7">
                          <div class="numbers">
                              <p>Clases de hoy</p>
                              33
                          </div>
                      </div>
                  </div>
                  <div class="footer">
                      <hr />
                      <div class="stats">
                          120 clases en Diciembre
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6">
          <div class="card">
              <div class="content">
                  <div class="row">
                      <div class="col-xs-5">
                        <div class="icon-big icon-danger text-center">
                          <i class="ti-pulse"></i>
                      </div>
                      </div>
                      <div class="col-xs-7">
                          <div class="numbers">
                              <p>Incidencias de hoy</p>
                              2
                          </div>
                      </div>
                  </div>
                  <div class="footer">
                      <hr />
                      <div class="stats">
                          7 incidencias en Diciembre
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-6">
          <div class="card ">
              <div class="header">
                  <h4 class="title">Clases por días</h4>
                  <p class="category"></p>
              </div>
              <div class="content">
                  <div id="chartActivity" class="ct-chart"></div>
                  <div class="footer">
                      <div class="chart-legend">
                          <i class="fa fa-circle text-info"></i> 2018
                          <i class="fa fa-circle text-warning"></i> 2017
                      </div>
                      <hr>
                      <div class="stats">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
