<p-growl [(value)]="msgs" sticky="sticky" life="10000"></p-growl>
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-12">
      <button (click)="btnVolver()" class="btn btn-default">Volver</button>
    </div>
    <h4 class="col-xs-12">Email</h4>
    <div class="form-group col-md-4 col-xs-12">
      <label>Email*</label>
      <input type="email" [(ngModel)]="usuario.Email" class="form-control">
      <div *ngIf="" class="alert alert-danger">
        <div *ngIf="">
          Introduzca un email valido
        </div>
        <div *ngIf="">
          Ya existe una cuenta con este email
        </div>
      </div>
    </div>
    <div class="btnUpMargin col-xs-12">
      <button class="btn btn-success btn-md" (click)="crearUsuario()" type="submit">Crear usuario</button>
    </div>
  </div>
</div>
