<div>
  <div class="form-group" *ngFor="let filtro of dt.filtros">
    <input [id]="filtro.id" [(ngModel)]="filtro.model"
    (keyup)="inputChange($event)"
    [id]="filtro.id"
    [type]="filtro.type" [class]="filtro.class" [placeholder]="filtro.placeholder">
  </div>
</div>

<table datatable class="table row-border hover"
[dtOptions]="tabla.dtOptions"
[dtTrigger]="tabla.dtTrigger" >
  <thead>
    <tr>
      <th *ngFor="let item of dt.columnas">{{item.title}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dato of tabla.dtDatos">
      <td *ngFor="let item of dt.columnas">{{ dato[item.dato] }} </td>
    </tr>
  </tbody>
  </table>
