  <div class="col-xs-12">
    <h3 class="col-xs-12" >Club</h3>
    <div class="col-md-6 form-group">
      <label for="Club.Nombre">Nombre</label>
      <input (change)="nombreChange($event)"  type="text" [(ngModel)]="Club.Nombre" class="form-control" required>
    </div>
    <div class="col-md-3 form-group">
      <label>Nivel</label>
      <br>
      <ss-multiselect-dropdown [options]="confMulti.niveles.myOptions" [(ngModel)]="confMulti.niveles.optionsModel"
       [settings]="confMulti.niveles.mySettings"
         [texts]="confMulti.niveles.myTexts" selectionLimit="1">
      </ss-multiselect-dropdown>
    </div>
    <div class="col-md-3 form-group">
      <label>Clientes</label>
      <br>
      <ss-multiselect-dropdown [options]="confMulti.clientes.myOptions" [(ngModel)]="confMulti.clientes.optionsModel"
      [settings]="confMulti.clientes.mySettings"
      [texts]="confMulti.clientes.myTexts" selectionLimit="1">
      </ss-multiselect-dropdown>
    </div>
  <div class="col-xs-12">
    <span class="errorForm">{{ errorMensaje.general }}</span>
    <button type="submit" (click)="crearClub()" class="btn btn-success">Crear cliente</button>
  </div>
</div>
