

<div class="col-xs-12">
  <h3 class="col-xs-12">Cliente</h3>
  <div class="col-md-4 form-group">
    <label for="Cliente.Nombre">Nombre*</label>
    <input type="text" [(ngModel)]="Cliente.Nombre" class="form-control"  required>
  </div>
  <div class="col-md-4 form-group">
    <label for="Escuela.Apellidos">Apellidos*</label>
    <input type="text" [(ngModel)]="Cliente.Apellidos" class="form-control" required>
  </div>
  <div class="col-md-4 form-group">
    <label for="Escuela.FechaNacimiento">Fecha Nacimiento</label>
    <input type="date" [(ngModel)]="Cliente.FechaNacimiento" class="form-control" >
  </div>
  <h4 class="col-xs-12">Opcionales</h4>
  <div class="col-md-2 form-group">
    <label for="Escuela.Telefono">Teléfono</label>
    <input type="tel" [(ngModel)]="Cliente.Telefono" class="form-control">
  </div>
  <div class="col-md-3 form-group">
    <label for="Escuela.Email">Email</label>
    <input type="email" [(ngModel)]="Cliente.Email" class="form-control">
  </div>
  <div class="col-md-3 form-group">
    <label>Modalidad</label>
    <br>
    <ss-multiselect-dropdown  [options]="confMulti.deportes.myOptions" [(ngModel)]="confMulti.deportes.optionsModel"
    [settings]="confMulti.deportes.mySettings" [texts]="confMulti.deportes.myTexts" selectionLimit="1">
   </ss-multiselect-dropdown>
  </div>
  <div class="col-md-3 form-group">
    <label>Nivel</label>
    <br>
    <ss-multiselect-dropdown  [options]="confMulti.niveles.myOptions" [(ngModel)]="confMulti.niveles.optionsModel"
    [settings]="confMulti.niveles.mySettings" [texts]="confMulti.niveles.myTexts" selectionLimit="1">
   </ss-multiselect-dropdown>
  </div>
  <div class="col-md-3 form-group">
    <label>Club</label>
    <br>
    <ss-multiselect-dropdown [options]="confMulti.clubs.myOptions" [(ngModel)]="confMulti.clubs.optionsModel" [settings]="confMulti.clubs.mySettings"
       [texts]="confMulti.clubs.myTexts" selectionLimit="1">
    </ss-multiselect-dropdown>
  </div>



  <div class="col-xs-12">
    <span class="errorForm">{{ errorMensaje.general }}</span>
    <button type="submit" (click)="crearCliente()" class="btn btn-success">Crear cliente</button>
  </div>
</div>
