<div>
  <div class="row">
    <div class="col-xs-12" style="margin-bottom: 2%;margin-top: 2%;">
      <div class="col-xs-12" style="text-align: center;font-weight:bold;" *ngIf="configCalendario.vistas.headerDate">
        <h4>{{ configCalendario.viewDate | calendarDate:(configCalendario.view + 'ViewTitle'):'es' | uppercase }} </h4>
      </div>
      <div class="col-xs-12" style="text-align: center" *ngIf="configCalendario.vistas.headerChangeDate">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="configCalendario.view" [(viewDate)]="configCalendario.viewDate"
            (viewDateChange)="viewDateChange.next(configCalendario.viewDate)">
            Anterior
          </div>
          <div class="btn btn-default" mwlCalendarToday [(viewDate)]="configCalendario.viewDate" (viewDateChange)="viewDateChange.next(configCalendario.viewDate)">
            Actual
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="configCalendario.view" [(viewDate)]="configCalendario.viewDate"
            (viewDateChange)="viewDateChange.next(configCalendario.viewDate)">
            Siguiente
          </div>
        </div>
      </div>
      <div class="col-xs-12" style="text-align: right" *ngIf="configCalendario.vistas.headerRight">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="viewChange.emit('month')" [class.active]="configCalendario.view === 'month'">
            Mes
          </div>
          <div class="btn btn-primary" (click)="viewChange.emit('week')" [class.active]="configCalendario.view === 'week'">
            Semana
          </div>
          <div class="btn btn-primary" (click)="viewChange.emit('day')" [class.active]="configCalendario.view === 'day'">
            Día
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #customCellTemplate let-day="day" let-locale="locale" let-event="event">
    <div class="cal-cell-top">
      <span class="cal-day-number" style="color:white;font-weight: bold;font-size:x-large;">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <span style="visibility:hidden;color:white;font-weight: bold; text-align: center;font-size:large;">Cambiar disponibilidad</span>
  </ng-template>
  <div [ngSwitch]="configCalendario.view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [refresh]="configCalendario.trigger" [viewDate]="configCalendario.viewDate"
      [events]="configCalendario.events" [locale]="configCalendario.locale" [weekStartsOn]="weekStartsOn" [weekendDays]="weekendDays"
      (dayClicked)="dayClicked($event)" (beforeViewRender)="beforeMonthViewRender($event)" [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [refresh]="configCalendario.trigger" [viewDate]="configCalendario.viewDate"
      [events]="configCalendario.events" [locale]="configCalendario.locale" [weekStartsOn]="weekStartsOn" [weekendDays]="weekendDays">
    </mwl-calendar-week-view>

    <!-- Opciones   [hourSegments]="4"   [dayStartHour]="8"  [dayEndHour]="17"
    Template
    [hourSegmentTemplate]="hourSegmentTemplate"
    [dayEndHour]="17" >
    <template #hourSegmentTemplate let-segment="segment" let-locale="locale">
    <div class="cal-cell-top"
    [class.cal-hour-start]="segment.isStart"
    [class.cal-after-hour-start]="!segment.isStart"
    [ngClass]="segment.cssClass">
    {{ segment.date | calendarDate:'dayViewHour':locale }}
    -->

    <mwl-calendar-day-view *ngSwitchCase="'day'" [dayStartHour]="8" [dayEndHour]="17" [refresh]="configCalendario.trigger" [viewDate]="configCalendario.viewDate"
      [events]="configCalendario.events" [locale]="configCalendario.locale">
    </mwl-calendar-day-view>
  </div>
</div>
