.cal-month-view{
    border: 0.5px solid rgba(0, 0, 0, 0.11);
}
.noDisponibleCell {
    background-color: rgb(148, 11, 34) !important;
  }

.disponibleCell {
    background-color: rgb(13, 102, 17) !important;
  }

  .calendarCell:hover{
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    cursor:pointer;
    }

    .calendarCell:hover span{
      visibility: visible!important;  
    }
  