<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul id="ulCentro" class="nav navbar-nav">

        <li *ngFor="let item of listMenu">
          <a [routerLink]="item.Router">
            <div class="divArriba"></div>
            <div> {{item.Nombre}} </div>
          </a>
        </li>
        <li>
          <a routerLink="crea-monitor">Crea monitor</a>
        </li>
        <li>
          <a routerLink="monitor/1">Editar monitor</a>
        </li>
        <li>
          <a routerLink="gestion-escuela/1">Gestion escuela</a>
        </li>
        <li>
            <a routerLink="clase">Clase</a>
          </li>
        <li *ngIf="!logueado">
          <a routerLink="registro">
            <span class=""></span> Registrarse</a>
        </li>
        <li *ngIf="!logueado">
          <a routerLink="login">
            <span class=""></span>Entrar</a>
        </li>
        <li *ngIf="logueado">
          <a routerLink="main" type="button" (click)="logout()">
            <span class=""></span>Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
