<form (ngSubmit)="crearMonitor()" class="" [formGroup]="monitorForm" novalidate>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <button (click)="btnVolver()" class="btn btn-default">Volver</button>
      </div>
      <h4 class="col-xs-12"> Nuevo Monitor </h4>
      <div class="col-xs-12">
        <div class="form-group row">
          <div class="col-md-5 col-xs-12">
            <label>Usuario</label>
            <input class="form-control" formControlName="usuario" type="text"
            [value]="(monitorForm.value.nombre +'.'+ monitorForm.value.apellidos).replace(' ','-')">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-5 col-xs-6">
            <label>Nombre*</label>
            <input type="text" formControlName="nombre" class="form-control">
            <div *ngIf="(nombre.invalid &&
           (nombre.dirty || nombre.touched))  " class="alert alert-danger">
              El nombre es obligatorio.
            </div>
          </div>
          <div class="form-group col-md-5 col-xs-6">
            <label>Apellidos*</label>
            <input type="text" formControlName="apellidos" class="form-control">
            <div *ngIf="(apellidos.invalid &&
           (apellidos.dirty || apellidos.touched))  " class="alert alert-danger">
              Los apellidos son obligatorios.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-5 col-xs-6">
            <label>Email*</label>
            <input type="email" formControlName="email" class="form-control">
            <div *ngIf="(email.invalid &&
             (email.dirty || email.touched))  " class="alert alert-danger">
              <div *ngIf="email.errors['email']">
                Introduzca un email valido
              </div>

            </div>
          </div>
          <div class="form-group col-md-5 col-xs-6">
            <label>Teléfono*</label>
            <input type="tel" formControlName="telefono" class="form-control">
            <div *ngIf="(telefono.invalid &&
             (telefono.dirty || telefono.touched))  " class="alert alert-danger">
              El teléfono es obligatorio.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-5 col-xs-12">
            <label>Fecha Nacimiento</label>
            <input type="date" formControlName="fechaNacimiento" class="form-control">
          </div>
          <div class="form-group col-md-5 col-xs-12">
            <label>Títulos</label>
            <br>
            <ss-multiselect-dropdown [options]="confSelEst.dataModel" [(ngModel)]="confSelEst.selectedModel" [settings]="confSelEst.mySettings"
              [texts]="confSelEst.myTexts" formControlName="titulos">
            </ss-multiselect-dropdown>
          </div>
        </div>
        <div style="margin-top:10px"></div>
        <div class="col-xs-12 row">
          <button class="btn btn-success" type="submit"> Crear Monitor</button>
        </div>
      </div>
    </div>
    <div style="margin-top: 2%;"></div>
  </div>
</form>
