
label{
    margin-bottom: 0px !important;
  }

   img:hover {
      opacity: 1%;
  }
   input {
      display: none;
  }

  /* Overlay image */
   .container {
      width: 100%;
    }

     .imgUpload {
      opacity: 0.7;
      cursor: pointer; /* "hand" cursor */
    }

     .imgUpload:hover {
      display: block;
      opacity: 0.4;
      -webkit-transition: opacity 1s ease-out;
      -moz-transition: opacity 1s ease-out;
      -ms-transition: opacity 1s ease-out;
      -o-transition: opacity 1s ease-out;
      transition: opacity 1s ease-out;
    }

    .img200x200{

    }
