<div class="card col-sm-12 cabeceraInfo">
    <div class="card-body">
      <div class="col-sm-10 textoTop">
        <div class="col-sm-2">
          <img [src]="imgConf.src" class="imgPerfil img-rounded img-responsive">
        </div>
        <div class="col-sm-8">
          <div>
            <span>{{Escuela.Nombre}} </span>
            <br>
            <span>{{Escuela.Direccion}}</span>
            <br>
            <span>{{Escuela.Telefono}}</span>
            <br>
            <span>{{Escuela.Email}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-xs-12">
    <mat-tab-group>
      <mat-tab label="MURO">
        <div class="col-md-12 contPestanya">

        </div>
      </mat-tab>
      <mat-tab label="MONITORES">
        <div class="col-md-12 contPestanya">

        </div>
      </mat-tab>
      <mat-tab label="PERSONAL">
        <div class="col-md-12 contPestanya">

        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
