<p-growl [(value)]="msgs" [life]="100" [sticky]="true"></p-growl>
<div class="col-lg-2 col-xs-12">
  <div class="row card cardFecha">
    <div class="col-xs-12">
      <div class="row">
        <button class="btn btn-xs col-xs-2 btn-primary btn-fill" (click)="changeDay()" mwlCalendarPreviousView [view]="configCalendario.view" [(viewDate)]="configCalendario.viewDate"
          (viewDateChange)="viewDateChange.next(configCalendario.viewDate)">
          <i class="material-icons md-18">
            arrow_back
          </i>
        </button>
        <div class="col-xs-8">
          <h5>{{configCalendario.viewDate | date:'dd MMMM yyyy'}}</h5>
        </div>
        <button class="btn btn-xs col-xs-2 btn-primary btn-fill" (click)="changeDay()" mwlCalendarNextView [view]="configCalendario.view" [(viewDate)]="configCalendario.viewDate"
          (viewDateChange)="viewDateChange.next(configCalendario.viewDate)">
          <i class="material-icons md-18">
            arrow_forward
          </i>
        </button>
      </div>
      <div class="row">
        <button type="button" class="btn btn-xs col-xs-2 btn-primary btn-fill" (click)="changeEstacion(-1)">
          <i class="material-icons md-18">
            arrow_back
          </i>
        </button>
        <div class="col-xs-8">
          <h5>{{estacionSelect.Nombre}}</h5>
        </div>
        <button type="button" class="btn btn-xs col-xs-2 btn-primary btn-fill" (click)="changeEstacion(1)">
          <i class="material-icons md-18 ">
            arrow_forward
          </i>
        </button>
      </div>


    </div>
    <div *ngIf="dia.disponible">
      <div class="col-xs-6" *ngFor="let hora of dia.horas">
        <i [class]="'wi wi-day-'+ weatherIcons[hora.weather[0].id].icon"></i>
        {{ hora.hora }}
      </div>
    </div>
    <div *ngIf="!dia.disponible">
      <h5>Datos no disponibles</h5>
    </div>
  </div>
  <div class="row card">
    <div class="col-xs-12 ">
      <label>Monitores</label>
      <br>
      <div *ngIf="monitorDisabled">
        <span> Antes de seleccionar el monitor, selecione una clase.</span>
      </div>
      <div *ngIf="!monitorDisabled">
        <ss-multiselect-dropdown [options]="confSelMon.dataModel" [(ngModel)]="confSelMon.selectedModel" [settings]="confSelMon.mySettings"
          [texts]="confSelMon.myTexts" (ngModelChange)="changeMultiselectMonitores($event)">
        </ss-multiselect-dropdown>
      </div>
    </div>
  </div>
</div>
<div id="divTbl" class="col-xs-12 col-lg-10">
  <div class="card">
    <span class="h5" >Clases sin asignar</span>
    <app-datatable-generic (datos)="tableDatos" [dt]="tablaSinAsignar" (clickTable)="clickTableSinAsignar($event)"></app-datatable-generic>
  </div>
  <div class="col-xs-12">
    <span class="h5">Clases asignadas</span>
    <!-- Opciones   [hourSegments]="4"   [dayStartHour]="8"  [dayEndHour]="17"
      Template
      [hourSegmentTemplate]="hourSegmentTemplate"
      [dayEndHour]="17" >
      <template #hourSegmentTemplate let-segment="segment" let-locale="locale">
      <div class="cal-cell-top"
      [class.cal-hour-start]="segment.isStart"
      [class.cal-after-hour-start]="!segment.isStart"
      [ngClass]="segment.cssClass">
      {{ segment.date | calendarDate:'dayViewHour':locale }}
      -->
    <ng-template #eventTemplate let-dayEvent="dayEvent" let-locale="locale">
      <div class="card" style="width: 100%; height: 100%">
        <div class="row card-body">
          <div class="col-xs-12">
            <i class="material-icons md-18">face</i>
            <span class="valor">{{dayEvent.event.clase.Clase.Personas}} personas</span>
          </div>
          <div class="col-xs-12">
            <i class="material-icons md-18">comment</i>
            <span class="valor">{{dayEvent.event.clase.Clase.Nombre}}</span>
            <br>
          </div>
          <div class="col-xs-12" *ngFor="let monitor of dayEvent.event.clase.Monitores">
            <i class="material-icons">
              accessibility_new
            </i>
            {{monitor.nombre + ' ' + monitor.Apellidos[0] + '.' }}
          </div>
        </div>
      </div>
    </ng-template>


    <mwl-calendar-day-view [eventTemplate]="eventTemplate" (eventClicked)="eventClicked($event)" (eventTimes)="eventTimes($event)"
      (hourSegmentClicked)="hourSegmentClicked($event)" [dayStartHour]="8" [dayEndHour]="17" [refresh]="configCalendario.trigger"
      [viewDate]="configCalendario.viewDate" [events]="configCalendario.events" [locale]="configCalendario.locale"></mwl-calendar-day-view>
  </div>
</div>
