/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~angular-calendar/css/angular-calendar.css";

.center-block {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .textoTop{
    font-size: large;
    text-transform: uppercase;
    text-align: left;
    margin: 5px;
    margin-left: 5%;
    -webkit-box-shadow: -2px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -2px -2px 5px 0px rgba(0,0,0,0.75);
    background:white; border-radius: 2%;border: 0.5px solid hsl(0, 33%, 94%); padding:10px;
  }

  .contPestanya{
    padding: 2%;
  }

  .errorForm{
    color: brown;
    font-size: large;
  }

  .mat-tab-body-wrapper{
    height: 1000px!important;
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }


  ss-multiselect-dropdown{
    width: 100%!important;
    background:  red!important;
  }

  ss-multiselect-dropdown button{
    width: 100%!important;
  }



